name: eBPF LSM Test

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  test-lsm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build and Boot VM
        uses: ./.github/actions/vm-start
        with:
          image: .lvh/images/bpf-lsm-tester.qcow2

      - name: Only one VM on the system
        uses: ./.github/actions/vm-command
        with:
          run: cd /host && ./tests/vm-policy-test.sh
